/*
land:hover {stroke: #5cf287; stroke-width: 4; fill: #5cf287;}
land {fill: #f5f5f5;}
na:hover {fill: #d4d4d4;}
na {fill: #f5f5f5;}
body {background-color: grey;}
*/

svg {width: 90%;}
#location:hover {stroke: #6cf287; stroke-width: 4; fill: #5cf287;}
#location {fill: #f5f5f5;}
#ch:hover {stroke: none; stroke-width: none; fill: #d4d4d4;}
#ch {fill: #f5f5f5;}
#{active} {fill: #5cf287;}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
